name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.26.0"

      - run: go vet ./...

      - name: Test
        run: go test ./...
        env:
          CGO_ENABLED: "1"

      - run: go build -o /dev/null ./cmd/
